PPDUser=18616856236
PPBao_DBHost=localhost
PPBao_DBUser=xiaoqi
PPBao_DBPassword=XiaoqiDB.1
PPBAO_DBName=ppdai
Logdir=D:/ppdai

# Strategy Definition
Strategies=MasterStrategy,BachelorStrategy,A18Stargegy,B20Strategy,C22Strategy,NoHistoryLeftLoanStrategy,HasLendStrategy
Strategy_PPDRate=A,B,C,D
Strategy_LoanRate=18,19,20,21,22,23,24

##################################################
# Notices about Bid Strategy Definition
# * Without urank: university_rank definition, it will skip university check, so better to have it
# * once any of the Strategy is met, then it will bid with the bid_money defined. 
# * lt_hmaxloan: less than max history loan: max_history_loan - new_total_loan, more is better.
# * education_level(any): Means anyone that has a degree, no matter if it's 专科、成人、电大
# * has_one_cert(): 
##################################################
# For Masters
MasterStrategy1=education_level(博士研究生,硕士研究生,研究生及以上);urank(1,6);new_total_loan(20000);history_return(True,2,2);age(21,38);bid_range(81,90)
MasterStrategy2=education_level(博士研究生,硕士研究生,研究生及以上);urank(7,38);new_total_loan(16000);history_return(True,2,2);age(21,38);lt_hmaxloan(-4000);bid_range(75,80)
MasterStrategy3=education_level(博士研究生,硕士研究生,研究生及以上);urank(39,120);new_total_loan(14000);history_return(True,3,1);age(22,38);lt_hmaxloan(-3000);has_highrate_loan_history(no);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(65,70)
MasterStrategy4=education_level(博士研究生,硕士研究生,研究生及以上);urank(120,300);new_total_loan(13000);history_return(True,4,1);age(24,38);lt_hmaxloan(-2000);has_highrate_loan_history(no);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(60,65)
MasterStrategy5=education_level(博士研究生,硕士研究生,研究生及以上);urank(301,700);new_total_loan(11000);history_return(True,5,1);age(24,38);lt_hmaxloan(-2000);has_highrate_loan_history(no);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(55,60)

# For Bachelors
BachelorStrategy1=education_level(本科);urank(1,6);history_return(False,6,2);new_total_loan(9000);age(19,38);lt_hmaxloan(1000);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(85,90)
BachelorStrategy11=education_level(本科);urank(1,6);history_return(True,2,2);new_total_loan(9000);age(19,38);lt_hmaxloan(-1000);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(80,85) 
BachelorStrategy12=education_level(本科);urank(1,6);history_return(True,2,1);new_total_loan(15000);age(19,38);lt_hmaxloan(-3000);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(75,80)
BachelorStrategy2=education_level(本科);urank(7,20);history_return(False,6,2);new_total_loan(9000);age(21,38);has_highrate_loan_history(no);lt_hmaxloan(1000);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,收入,驾驶证);bid_range(60,65)
BachelorStrategy21=education_level(本科);urank(7,20);history_return(True,3,2);new_total_loan(9000);age(21,38);has_highrate_loan_history(no);lt_hmaxloan(-2000);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,收入,驾驶证);bid_range(60,65)
BachelorStrategy3=education_level(本科);urank(7,20);history_return(True,3,1);new_total_loan(12000);age(21,38);has_highrate_loan_history(no);lt_hmaxloan(-1000);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);bid_range(60,65)
BachelorStrategy4=education_level(本科);urank(21,38);history_return(True,4,1);new_total_loan(12000);age(21,38);has_highrate_loan_history(no);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);lt_hmaxloan(-100);bid_range(55,60)
BachelorStrategy5=education_level(本科);urank(39,84);history_return(True,4,0);new_total_loan(10000);age(22,38);has_highrate_loan_history(no);has_one_cert(手机,身份证,学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);lt_hmaxloan(-100);bid_range(50,55)
BachelorStrategy6=education_level(本科);urank(1,38);history_return(True,12,2);new_total_loan(16000);age(21,38);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);has_certs(银行流水,手机,身份证);lt_hmaxloan(-100);bid_range(60,65)
BachelorStrategy7=education_level(本科);urank(1,38);history_return(True,6,1);new_total_loan(12000);age(21,38);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);has_certs(手机,身份证);lt_hmaxloan(-100);bid_range(56,60)
BachelorStrategy8=education_level(本科);urank(39,84);history_return(True,6,1);new_total_loan(12000);age(22,38);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);has_certs(手机,身份证);lt_hmaxloan(0);bid_range(52,55)
BachelorStrategy9=education_level(本科);urank(39,73);history_return(True,6,0);new_total_loan(10000);age(22,36);has_highrate_loan_history(no);has_certs(身份证);bid_range(50,55)
BachelorStrategy10=education_level(本科);urank(39,120);history_return(True,5,0);new_total_loan(9000);age(21,38);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,收入,驾驶证);has_certs(手机,身份证);lt_hmaxloan(-1000);has_highrate_loan_history(no);bid_range(50,55)
BachelorStrategy11=education_level(本科);urank(39,120);history_return(True,12,1);new_total_loan(12000);age(22,38);has_one_cert(银行流水,工作,收入);has_certs(手机,身份证);lt_hmaxloan(0);bid_range(50,55)
BachelorStrategy111=education_level(本科);urank(121,300);history_return(True,6,2);new_total_loan(6000);age(22,36);lt_hmaxloan(1000);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,收入,社保);has_certs(身份证);bid_range(55,60)
BachelorStrategy12=education_level(本科);urank(121,300);history_return(False,6,2);new_total_loan(6000);age(22,36);lt_hmaxloan(-500);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,收入,社保);has_certs(身份证);bid_range(50,55)
BachelorStrategy13=education_level(本科);urank(121,300);history_return(False,6,1);new_total_loan(9000);age(22,36);lt_hmaxloan(0);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,收入,社保);has_certs(身份证);bid_range(50,55)
BachelorStrategy14=education_level(本科);urank(121,300);history_return(True,5,0);new_total_loan(9000);age(21,38);has_certs(身份证);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保,驾驶证);has_highrate_loan_history(no);bid_range(50,55)
BachelorStrategy15=education_level(本科);urank(301,700);history_return(False,6,0);new_total_loan(8000);age(22,36);lt_hmaxloan(-500);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,收入,社保);has_certs(身份证);bid_range(50,55)

A18Strategy1=ppdrate(A);education_level(any);urank(1,120);loanrate(18,19,20,21,22);history_return(True,2,1);new_total_loan(11000);lt_hmaxloan(-3000);shandian_loan(no);has_one_cert(手机,身份证);bid_range(56,60)
A18Strategy2=ppdrate(A);education_level(any);urank(121,700);loanrate(18,19,20,21,22);history_return(True,2,1);new_total_loan(10000);lt_hmaxloan(-2500);shandian_loan(no);has_one_cert(手机,身份证);bid_range(53,58)
A18Strategy3=ppdrate(A);education_level(any);loanrate(18,19,20,21,22);history_return(True,3,1);new_total_loan(9000);lt_hmaxloan(-2500);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,55)
A18Strategy4=ppdrate(A);loanrate(18,19,20,21,22);history_return(True,6,1);new_total_loan(7000);lt_hmaxloan(-100);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,55)
A18Strategy5=ppdrate(A);loanrate(18,19,20,21,22);education_level(any);history_return(False,0,0);new_total_loan(6000);lt_hmaxloan(-100);shandian_loan(no);bid_range(50,55)
B20Strategy1=ppdrate(B);education_level(any);loanrate(20,21,22,23,24);history_return(True,4,0);new_total_loan(10000);lt_hmaxloan(0);shandian_loan(no);has_one_cert(手机,身份证);bid_range(52,57)
B20Strategy2=ppdrate(B);loanrate(20,21,22,23,24);history_return(True,5,0);new_total_loan(7000);lt_hmaxloan(-100);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,55)
C22Strategy1=ppdrate(C);education_level(any);urank(1,38);loanrate(22,23,24);history_return(True,3,0);new_total_loan(15000);has_one_cert(手机,身份证);lt_hmaxloan(-3000);bid_range(55,60)
C22Strategy2=ppdrate(C);education_level(any);urank(39,150);loanrate(22,23,24);history_return(True,5,0);new_total_loan(12000);has_one_cert(手机,身份证);lt_hmaxloan(-3000);bid_range(53,58)
C22Strategy3=ppdrate(C);education_level(any);urank(151,700);loanrate(22,23,24);history_return(False,6,0);new_total_loan(10000);has_one_cert(手机,身份证);lt_hmaxloan(-2000);bid_range(51,56)
C22Strategy4=ppdrate(C);education_level(any);loanrate(22,23,24);history_return(False,6,0);new_total_loan(9000);lt_hmaxloan(-500);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,55)
C22Strategy5=ppdrate(C);loanrate(22,23,24);history_return(False,6,0);new_total_loan(6000);lt_hmaxloan(-100);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,55)
C22Strategy6=ppdrate(C);loanrate(22,23,24);history_return(False,9,3);new_total_loan(4000);lt_hmaxloan(-1000);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,55)
D24Strategy1=ppdrate(D);education_level(any);loanrate(23,24);history_return(False,6,0);new_total_loan(8000);lt_hmaxloan(0);shandian_loan(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,驾驶证);has_certs(身份证);bid_range(50,55)
D24Strategy2=ppdrate(D);loanrate(23,24);history_return(False,6,0);new_total_loan(8000);lt_hmaxloan(0);shandian_loan(no);has_one_cert(手机,身份证);bid_range(50,53)

# No History Left Loan Strategy: If it has a university degree, and no more loans than history max, than bid for 53
# Notice this strategy shall work with history_return(False..) as it will skip the first loan 
NoHistoryLeftLoanStrategy1=history_leftloan(0);urank(1,120);new_total_loan(11000);history_return(False,6,1);lt_hmaxloan(2000);bid_range(65,70)
NoHistoryLeftLoanStrategy11=history_leftloan(0);urank(121,700);new_total_loan(11000);history_return(False,6,1);lt_hmaxloan(2000);bid_range(62,66)
NoHistoryLeftLoanStrategy2=history_leftloan(0);new_total_loan(8000);history_return(False,6,0);lt_hmaxloan(1000);has_one_cert(手机,身份证);has_highrate_loan_history(no);bid_range(60,65)
NoHistoryLeftLoanStrategy21=history_leftloan(0);new_total_loan(8000);history_return(False,6,0);lt_hmaxloan(0);has_one_cert(手机,身份证);has_highrate_loan_history(no);bid_range(53,60)
NoHistoryLeftLoanStrategy3=history_leftloan(0);urank(1,300);new_total_loan(12000);history_return(False,6,0);lt_hmaxloan(0);has_certs(手机);bid_range(52,56)
NoHistoryLeftLoanStrategy4=history_leftloan(0);urank(301,700);new_total_loan(10000);history_return(False,12,0);lt_hmaxloan(0);has_certs(手机);bid_range(50,56)
NoHistoryLeftLoanStrategy5=history_leftloan(0);education_level(any);new_total_loan(8000);history_return(False,12,0);lt_hmaxloan(0);has_one_cert(手机,身份证);bid_range(50,56)
NoHistoryLeftLoanStrategy6=history_leftloan(0);new_total_loan(6500);history_return(False,12,0);lt_hmaxloan(-1001);has_one_cert(手机,身份证);has_highrate_loan_history(no);bid_range(53,60)

# Less than history max loan strategy
LTHistoryMaxLoanStrategy1=education_level(any);urank(1,100);lt_hmaxloan(5000);new_total_loan(9000);age(21,36);history_return(False,10,1);bid_range(80,90)
LTHistoryMaxLoanStrategy11=education_level(any);urank(1,300);lt_hmaxloan(4000);new_total_loan(11000);age(21,36);history_return(False,10,1);bid_range(60,65)
LTHistoryMaxLoanStrategy2=education_level(any);urank(1,700);lt_hmaxloan(2000);new_total_loan(9000);age(21,36);history_return(False,8,1);has_one_cert(手机,身份证);bid_range(55,60)
LTHistoryMaxLoanStrategy3=education_level(any);lt_hmaxloan(2500);new_total_loan(6000);age(22,36);history_return(False,6,1);has_one_cert(手机,身份证);bid_range(65,70)
LTHistoryMaxLoanStrategy31=education_level(any);lt_hmaxloan(1000);new_total_loan(6000);age(22,36);history_return(False,8,1);has_one_cert(手机,身份证);bid_range(62,68)
LTHistoryMaxLoanStrategy32=education_level(any);lt_hmaxloan(1000);new_total_loan(8000);age(22,36);history_return(False,8,1);has_one_cert(手机,身份证);bid_range(50,55)
# For those without education cert but has much less loan compared to history high
LTHistoryMaxLoanStrategy4=lt_hmaxloan(3000);new_total_loan(6000);age(22,40);history_return(False,15,2);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,驾驶证,身份证);has_certs(手机);bid_range(66,70)
LTHistoryMaxLoanStrategy5=lt_hmaxloan(2000);new_total_loan(8000);age(22,36);history_return(False,10,1);has_one_cert(手机,身份证);bid_range(55,60)
LTHistoryMaxLoanStrategy51=lt_hmaxloan(1000);new_total_loan(8000);age(22,36);history_return(False,9,1);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,驾驶证,身份证);has_certs(手机);bid_range(55,60)
LTHistoryMaxLoanStrategy6=education_level(any);lt_hmaxloan(500);new_total_loan(8000);age(22,36);history_return(False,12,1);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,驾驶证);has_certs(手机,身份证);bid_range(50,55)
LTHistoryMaxLoanStrategy7=lt_hmaxloan(500);new_total_loan(6000);age(22,36);history_return(False,18,1);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,驾驶证);has_certs(手机,身份证);bid_range(50,55)
LTHistoryMaxLoanStrategy8=education_level(any);lt_hmaxloan(500);new_total_loan(5000);age(22,36);history_return(False,6,0);has_certs(手机,身份证);bid_range(50,55)
LTHistoryMaxLoanStrategy9=education_level(any);lt_hmaxloan(1000);new_total_loan(5000);age(22,36);history_return(False,8,0);bid_range(50,55)
LTHistoryMaxLoanStrategy91=education_level(any);lt_hmaxloan(1500);new_total_loan(8000);age(22,36);history_return(False,9,1);bid_range(50,55)

## Dai Shou (Left Lend > 0) Strategy (with a Degree)
HasLendStrategy1=urank(1,38);left_lend(1000);new_total_loan(12000);history_return(False,4,1);lt_hmaxloan(-1000);bid_range(56,60)
HasLendStrategy2=urank(39,120);left_lend(500);new_total_loan(11000);history_return(False,6,1);lt_hmaxloan(-600);has_certs(身份证);bid_range(55,60)
HasLendStrategy3=urank(121,300);left_lend(1000);new_total_loan(10000);history_return(False,6,1);lt_hmaxloan(0);has_certs(手机,身份证);bid_range(50,56)
HasLendStrategy4=urank(301,700);left_lend(2000);new_total_loan(10000);history_return(False,6,1);lt_hmaxloan(0);has_certs(手机,身份证);bid_range(50,56)
# Dai shou without good education
HasLendStrategy5=education_level(any);left_lend(2000);new_total_loan(8000);history_return(False,10,1);lt_hmaxloan(-500);has_one_cert(学生证,支付宝,户口,银行流水,工作,征信,社保,驾驶证);has_certs(手机,身份证);bid_range(50,56)
HasLendStrategy6=education_level(any);left_lend(4000);new_total_loan(8000);history_return(True,6,1);lt_hmaxloan(-500);bid_range(50,56)

#####################################################
# Best Bid Money to have least Jieduan
# loanrate(16);month(6): 53, 62, 73
# loanrate(16);month(12): 55, 69, 83
# loanrate(18);month(6): 58, 67, 78, 87, 96
# loanrate(18);month(12): 54, 60, 66, 72, 78, 85, 96
# loanrate(20);month(6): 63, 69, 89, 97
# loanrate(20);month(12): 57, 61, 76, 80, 88, 95
# loanrate(22);month(12): 53, 64, 67, 78, 95
#####################################################