PPDUser=18616027065
PPBao_DBHost=localhost
PPBao_DBUser=xiaoqi
PPBao_DBPassword=XiaoqiDB.1
PPBAO_DBName=ppdai
Logdir=D:/ppdai

# Strategy Definition
Strategies=MasterStrategy,BachelorStrategy,A18Stargegy,B20Strategy,C22Strategy,NoHistoryLeftLoanStrategy,HasLendStrategy
Strategy_PPDRate=A,B,C,D
Strategy_LoanRate=16,17,18,19,20,21,22,23

##################################################
# Notices about Bid Strategy Definition
# * Without urank: university_rank definition, it will skip university check, so better to have it
# * once any of the Strategy is met, then it will bid with the bid_money defined. 
# * lt_hmaxloan: less than max history loan: max_history_loan - new_total_loan, more is better.
# * education_level(any): Means anyone that has a degree, no matter if it's 专科、成人、电大
# * has_one_cert(): Has at least one of the certificates in the list
# * has_certs(): must has all the certs in the list. 
##################################################
# For Masters
MasterStrategy=education_level(博士研究生,硕士研究生,研究生及以上);urank(1,6);new_total_loan(22000);history_return(True,2,2);age(21,38);bid_range(85,100)
MasterStrategy=education_level(博士研究生,硕士研究生,研究生及以上);urank(7,38);new_total_loan(18000);history_return(True,2,2);age(21,38);bid_range(76,85)
MasterStrategy=education_level(博士研究生,硕士研究生,研究生及以上);urank(39,120);new_total_loan(17000);history_return(True,2,1);age(22,38);bid_range(70,76)
MasterStrategy=education_level(博士研究生,硕士研究生,研究生及以上);urank(120,300);new_total_loan(17000);history_return(True,2,1);age(24,37);bid_range(65,70)
MasterStrategy=education_level(博士研究生,硕士研究生,研究生及以上);urank(301,700);new_total_loan(15000);history_return(True,2,1);age(24,37);bid_range(60,66)

# For Bachelors 
BachelorStrategy=education_level(本科);urank(1,6);history_return(True,2,1);new_total_loan(15000);age(21,38);bid_range(70,80)
BachelorStrategy=education_level(本科);urank(7,38);history_return(True,2,1);new_total_loan(12000);age(22,38);bid_range(60,70)
BachelorStrategy=education_level(本科);urank(1,38);history_return(False,12,1);new_total_loan(16000);age(21,38);has_certs(银行流水,工作,收入);bid_range(55,60)
BachelorStrategy=education_level(本科);urank(39,74);history_return(True,5,0);new_total_loan(10000);age(22,38);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保,收入,征信);bid_range(50,55)
# For loans with good history only for university rank >= 121
BachelorStrategy=education_level(本科);urank(74,240);history_return(True,6,0);new_total_loan(9000);age(22,36);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保,收入,征信);bid_range(50,55)
BachelorStrategy=education_level(本科);urank(74,240);history_return(False,12,1);new_total_loan(9000);age(22,36);has_highrate_loan_history(no);bid_range(50,55)
BachelorStrategy=education_level(本科);urank(241,700);history_return(False,10,0);new_total_loan(8000);age(22,36);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保,收入,征信);bid_range(50,55)
BachelorStrategy=education_level(本科);urank(241,700);history_return(False,20,1);new_total_loan(8000);age(22,36);has_highrate_loan_history(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保,收入,征信);bid_range(50,55)

A18Strategy=ppdrate(A);education_level(any);loanrate(18,19,20,21,22);history_return(True,2,1);new_total_loan(11000);lt_hmaxloan(0);shandian_loan(no);bid_range(55,60)
B20Strategy=ppdrate(B);education_level(any);urank(1,700);loanrate(20,21,22,23,24);history_return(True,4,0);new_total_loan(10000);lt_hmaxloan(0);shandian_loan(no);bid_range(51,57)
C22Strategy=ppdrate(C);education_level(any);urank(1,38);loanrate(22,23,24);history_return(True,3,0);new_total_loan(15000);bid_range(55,60)
C22Strategy=ppdrate(C);education_level(any);urank(39,150);loanrate(22,23,24);history_return(True,5,0);new_total_loan(12000);bid_range(53,58)
C22Strategy=ppdrate(C);education_level(any);urank(151,700);loanrate(22,23,24);history_return(True,6,0);new_total_loan(10000);bid_range(51,56)
C22Strategy=ppdrate(C);education_level(any);loanrate(22,23,24);history_return(True,6,0);new_total_loan(10000);lt_hmaxloan(0);shandian_loan(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保);bid_range(50,53)
D24Strategy=ppdrate(D);education_level(any);loanrate(23,24);history_return(True,6,0);new_total_loan(8000);lt_hmaxloan(0);shandian_loan(no);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保);bid_range(50,53)

# No History Left Loan Strategy: If it has a university degree, and no more loans than history max, than bid for 53
# Notice this strategy shall work with history_return(False..) as it will skip the first loan 
NoHistoryLeftLoanStrategy=history_leftloan(0);urank(1,700);new_total_loan(10000);history_return(False,6,0);lt_hmaxloan(2000);bid_range(57,65)
NoHistoryLeftLoanStrategy=history_leftloan(0);urank(1,700);new_total_loan(10000);history_return(False,6,0);lt_hmaxloan(0);bid_range(50,56)
NoHistoryLeftLoanStrategy=history_leftloan(0);education_level(any);new_total_loan(8000);history_return(False,12,0);lt_hmaxloan(0);bid_range(50,56)

## Dai Shou (Left Lend > 0) Strategy (with a Degree)
HasLendStrategy=urank(1,120);left_lend(500);new_total_loan(12000);history_return(False,6,1);lt_hmaxloan(0);bid_range(55,60)
HasLendStrategy=urank(121,700);left_lend(500);new_total_loan(11000);history_return(False,6,1);lt_hmaxloan(0);bid_range(50,56)
# Dai shou without good education
HasLendStrategy=education_level(any);left_lend(500);new_total_loan(8000);history_return(False,10,1);lt_hmaxloan(1000);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保);bid_range(50,56)


# Less than history max loan strategy
LTHistoryMaxLoanStrategy=education_level(any);urank(1,700);lt_hmaxloan(5000);new_total_loan(10000);age(23,36);history_return(False,10,1);bid_range(52,57)
LTHistoryMaxLoanStrategy=education_level(any);urank(1,700);lt_hmaxloan(2000);new_total_loan(8000);age(23,36);history_return(False,8,1);bid_range(50,55)
LTHistoryMaxLoanStrategy=education_level(any);urank(1,700);lt_hmaxloan(500);new_total_loan(7000);age(22,36);history_return(False,8,1);bid_range(50,55)
# For those without education cert but has much less loan compared to history high
LTHistoryMaxLoanStrategy=lt_hmaxloan(5000);new_total_loan(9000);age(23,36);history_return(False,10,1);has_one_cert(学生证,支付宝,户口,银行流水,工作,社保);bid_range(50,55)
